
{

    -fx-primary: #1C1C1C;
    -fx-secondary: #0F9D58;
    -fx-primarytext: #B2B2B2;
    -fx-black : #000000;
    -fx-white : #FFFFFF;
    -fx-tableview-color : #272727;
}

.root
{
    -fx-background-color: -fx-primary;


}
.button
{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 10px;
    -fx-font-size: 10pt;
}
.text-field
{
    -fx-opacity: 0.5;
    -fx-background-color: #323232;
    fx-text-fill: -fx-white;
    -fx-min-height: 35;
    -fx-pref-height: -fx-min-height;
    -fx-font-size : 10pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-white, 20%);
    -fx-prompt-text-fill: -fx-white;

}
.context-menu
{

    -fx-background-color:-fx-primary ;
    -fx-border-width: 0.2px;
    -fx-border-color: black;
}
.label
{


    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-primarytext;
}

.menu-bar
{
    -fx-background-color:-fx-primary ;
}
.menu
{
    -fx-background-color:-fx-primary ;


}
.menu-item
{
    -fx-background-color:-fx-primary ;

}

.radio-button
{
    -fx-text-fill: -fx-primarytext;
    -fx-progress-color: -fx-secondary;
}
.split-menu-button
{
    -fx-background-color:-fx-primary ;
}
